

.gamesupermariowolrd {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    height: 450px;
  
    .game-board {
      width: 100%;
      height: 100%;
      border: 1px solid black;
      border-bottom: 5px solid green;
      position: relative;
      overflow: hidden;
      z-index: 1;
      background: linear-gradient(#87CEEB , #E0F6FF);
  
      .pipe{
        position: absolute;
        width: 73px;
        height: 60px;
        bottom: 0;
        animation: pipe-animation 1.5s infinite linear;
      }
  
      .clouds {
        position: absolute;
        width: 450px;
        margin-top: 20px;
        animation: clouds-animation 20s infinite linear;
  
      }
    }
  
    .mario {
      width: 150px;
      position: absolute;
      bottom: 0;
  
    }
  
    .game-board .relaod {
      background-color: #E63E21;
      color: #fff;
      font-weight: bold;
      padding: 20px;
      cursor: pointer;
    }
  
  
  
  }
  
  .jump {
    animation: jump 500ms ease-out;
  }
  
  @keyframes pipe-animation {
    from {
      right: -80px;
    }
  
    to {
  
      right: 100%;
    }
  
  }
  
  @keyframes jump {
  
    0% {
      bottom: 0;
    }
  
    40% {
      bottom: 180px;
    }
  
    50% {
      bottom: 180px;
    }
  
    60% {
      bottom: 180px;
    }
  
    100% {
      bottom: 0;
    }
  
  }
  
  @keyframes clouds-animation {
    from {
      right: -450px;
    }
  
    to {
      right: 100%;
    }
  }
  
  